html {
  overflow: hidden;
}
html, body {
  margin: 0;
  padding: 0;
  height: 100%;
}
a {
  text-decoration: none;
  color: inherit;
}
#app {
  height: 100%;
}
// 按钮格式
.submit-button {
  text-align: center;
}